*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Content {
  flex: 1;
}

/* Navigation bar */

.Nav{
  display: flex;
  align-items: center;
  padding: 2vh;
}

.Nav a{
  text-decoration: none;
  color: black;
}

.Nav a:hover{
  color: rgb(0, 89, 255);
}

#logo{
  margin-right: auto;
}

.nav-links {
  display: flex;
  margin-right: auto;
  gap: 10vh;
}

/* Footer */
.Footer {
  margin: 0;
}

.footer-top {
  display: flex;
  gap: 5vh;
  padding: 2vh;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.131);
  border-top: 2px solid rgba(0, 0, 0, 0.292);
  border-bottom: 2px solid rgba(0, 0, 0, 0.292);
  margin: 0;
}

.footer-link-section{
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 200px;
}

.footer-link-section a{
  text-decoration: none;
  color: #5d5d5d;
}

.footer-link-section a:hover{
  color: #1d1d1d;
  text-decoration: underline;
}

.footer-bottom {
  padding: 2vh;
}

.footer-bottom p {
  color: rgba(0, 0, 0, 0.534);
  border-top: 1px solid black;
  padding: 2vh 0;
}

.footer-bottom-links {
  margin-bottom: 5vh;
  display: flex;
}

.footer-bottom-links a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.865);
  padding: 2vh;
}
/*
<div className="footer-top">
  <div className="footer-link-section">
      <h3>Resources</h3>
      <a href="#">Property News</a>
      <a href="#">Buyer guides</a>
      <a href="#">Seller guides</a>
      <a href="#">Renter guides</a>
      <a href="#">Landlord guides</a>
      <a href="#">Mortage guides</a>
  </div>
</div>
<div className="footer-bottom">
  <div className="footer-bottom-links">
      <a href="#">Site map</a> 
      <a href="#">Help</a> 
      <a href="#">Safety and Security</a> 
      <a href="#">Terms of use</a> 
      <a href="#">Privacy Policy</a>           
  </div>
  <p>Copyright &copy 2025 Senal Perera. All rights reserved</p>
</div>
*/

/* Home */

.Home{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 2vh;
}

.main-panel {
  color: rgb(255, 96, 48);
  position: relative;
  
  margin: 0 auto; 
  border-radius: 2vh;
  padding: 2vh;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  min-width: 1000px;
  height: 400px;

  background-image: url(assets/homes3.jpg);
  background-size: 100% 125%;
  background-repeat: none;
}

.main-panel h1{
  font-size: 8vh;
  margin-top: 4vh;
}

.main-panel h1>span{
  color: rgb(132, 0, 0);
}

.main-panel h3{
  font-size: 5vh;
  margin: 0;
}

.search-panel {
  display:inline-block;
  color: white;
  background-color: rgba(255, 115, 72, 0.811);
  border-radius: 1vh;
  padding: 2vh;
  margin-top: 10vh;
  height: fit-content;
  width: 700px;
}

.search-option-container{
  display: flex;
  gap: 7vh;
  justify-content: flex-start;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.search-panel hr{
  border-color: rgb(255, 252, 252);
  margin-top: 0;
}

.search-option {
  font-size: 3vh;
  font-weight: 700;
  list-style: none;
  padding: 3vh 0;
}

.search-option-selected {
  border-bottom: solid 2px white
}

.search-panel-form{
  display: flex;
  gap: 2vh;
  justify-content: center;
  align-items: flex-end;
}

.search-group{
  display: flex;
  flex-direction: column;
}

.search-group label{
  font-size: 2.5vh;
  font-weight: 600;
}

#search {
  padding: 2vh;
  outline: none;
  border: none;
  border-radius: 1vh;
  min-width: 530px;
  min-height: 50px;
  margin-top: 1vh;
}

#search-button {
  border: none;
  padding: 2vh;
  height: 2vh;
  border-radius: 1vh;
  min-width: 150px;
  min-height: 50px;
  font-weight: 600;
  background-color: #1b3644;
  color: white;
}

#search-button a{
  text-decoration: none;
  color: white;
}

#search-button a:hover{
  color: #00aaff;
}

.dropdown-container{
  box-sizing: border-box;
}

.select {
  cursor: pointer;
  display: flex;
  padding: 1vh;
  background-color: #00aaff;
  width: 100px;
}

.select-clicked {
  border: 2px solid white;
}

.menu {
  list-style: none;
  padding: 0vh;
  background-color: #1b3644;
  width: fit-content;
  color: white;
  display: none;
}

.menu li{
  padding: 1vh;
  cursor: pointer;
  width: 100px;
}

.active {
  background: palegoldenrod;
}

/* SearchBar + DropDown*/
.search-form {
  background-color: #cccccc7a;
  padding: 2vh;
  flex-direction: column;
  border-radius: 1vh;
  max-width: 1000px;
  min-width: 400px;
  margin: 0 auto;
  margin-top: 2vh;
}

.search-form h1{
  font-size: 3.5vh;
  font-weight: 600;
  padding: 0;
  margin-top: 0;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  flex-wrap: wrap;
  height: 200px;
  padding: 1vh;
}

.search-form .form-group{
  display: flex;
  flex-direction: column;
}

.search-form .form-group select{
  width: 300px;
  max-width: 250px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2vh;
  font-size: 2.5vh;
  color: #5d5d5d;
  margin: 0;
}

.search-form .form-group select:hover{
  background-color: #ffffff81;
}

.search-form .form-group select:focus{
  border: 2px solid rgba(255, 115, 72, 0.811);
}

.search-form .form-group label {
  font-size: 2vh;
  margin: 1vh 0;
  font-weight: 550;
}

.range-value-group{
  width: fit-content;
}

.range-value-group .form-group select{
  width: 110px;
  max-width: 400px;
}

.range-value-group label {
  font-size: 2vh;
  font-weight: 550;
}

.range-values {
  display: flex;
  align-items: center;
  gap: 2vh;
}

form button{
  width: 250px;
  padding: 2vh;
  border-radius: 1vh;
  margin-top: 3.5svh;
  background-color: rgba(255, 115, 72, 0.811);
  font-size: 2.5svh;
  border: none;
  font-weight: 550;
}

form button:hover {
  background-color: rgba(255, 60, 0, 0.811);
}

#results-text {
  font-weight: 200;
  color: #949494;
  font-size: 2.5vh;
  text-align: center;
  margin-top: 25vh;
}

