*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

body {
  background-color: rgba(222, 98, 98, 0.105);
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Content {
  flex: 1;
}

/* Navigation bar */

.nav{
  display: flex;
  align-items: center;
  padding: 2vh;
  background-color: rgba(132, 0, 0, 0.583);
  border-bottom: 2px solid rgba(132, 0, 0, 0.516);;
  position: sticky;
  top: 0;
  z-index: 2;
}

.nav a{
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 2.2vh;
  color: white;
  transition: 0.3s ease-in-out;
}

.nav a:hover{
  color: rgb(255, 158, 131);;
}

#logo{
  color: #ff914d;
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 1vh;
}

#logo span{
  color: #2683ff;
}

#logo img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.nav-links {
  display: flex;
  margin-right: auto;
  gap: 10vh;
}

/* Footer */
.Footer {
  margin: 0;
}

.footer-top {
  display: flex;
  gap: 5vh;
  padding: 2vh;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.131);
  border-top: 2px solid rgba(0, 0, 0, 0.292);
  border-bottom: 2px solid rgba(0, 0, 0, 0.292);
  margin: 0;
}

.footer-link-section{
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 200px;
}

.footer-link-section a{
  text-decoration: none;
  color: #5d5d5d;
}

.footer-link-section a:hover{
  color: #1d1d1d;
  text-decoration: underline;
}

.footer-bottom {
  padding: 2vh;
}

.footer-bottom p {
  color: rgba(0, 0, 0, 0.534);
  border-top: 1px solid black;
  padding: 2vh 0;
}

.footer-bottom-links {
  margin-bottom: 5vh;
  display: flex;
}

.footer-bottom-links a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.865);
  padding: 2vh;
}
/*
<div className="footer-top">
  <div className="footer-link-section">
      <h3>Resources</h3>
      <a href="#">Property News</a>
      <a href="#">Buyer guides</a>
      <a href="#">Seller guides</a>
      <a href="#">Renter guides</a>
      <a href="#">Landlord guides</a>
      <a href="#">Mortage guides</a>
  </div>
</div>
<div className="footer-bottom">
  <div className="footer-bottom-links">
      <a href="#">Site map</a> 
      <a href="#">Help</a> 
      <a href="#">Safety and Security</a> 
      <a href="#">Terms of use</a> 
      <a href="#">Privacy Policy</a>           
  </div>
  <p>Copyright &copy 2025 Senal Perera. All rights reserved</p>
</div>
*/

/* Home */

.home{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 10vh 2vh;
  background-color: white;
  margin: 5vh 15vh;
  border-radius: 5px;
}

.main-panel {
  color: rgb(255, 96, 48);
  position: relative;
  
  margin: 0 auto; 
  border-radius: 2vh;
  padding: 2vh;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  min-width: 1000px;
  height: 400px;

  background-image: url(assets/homes3.jpg);
  background-size: 100% 125%;
  background-repeat: none;
}

.main-panel h1{
  font-size: 8vh;
  margin-top: 4vh;
}

.main-panel h1>span{
  color: rgb(132, 0, 0);
}

.main-panel h3{
  font-size: 5vh;
  margin: 0;
}

.search-panel {
  display:inline-block;
  color: white;
  background-color: rgba(255, 115, 72, 0.811);
  border-radius: 1vh;
  padding: 2vh;
  margin-top: 10vh;
  height: fit-content;
  width: 700px;
}

.search-option-container{
  display: flex;
  gap: 7vh;
  justify-content: space-around;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.search-panel hr{
  border-color: rgb(255, 252, 252);
  margin-top: 0;
}

.search-option {
  font-size: 3vh;
  font-weight: 700;
  list-style: none;
  padding: 3vh 0;
}

.search-option-selected {
  border-bottom: solid 2px white
}

.search-panel-form{
  display: flex;
  gap: 2vh;
  justify-content: center;
  align-items: flex-end;
}

.search-group{
  display: flex;
  flex-direction: column;
}

.search-group label{
  margin-top: 2vh;
  font-size: 2.5vh;
  font-weight: 600;
}

#search {
  padding: 2vh;
  outline: none;
  border: none;
  border-radius: 1vh;
  min-width: 530px;
  min-height: 50px;
  margin-top: 1vh;
}

#search-button {
  border: none;
  padding: 2vh;
  height: 2vh;
  border-radius: 1vh;
  min-width: 150px;
  min-height: 50px;
  font-weight: 600;
  background-color: #1b3644;
  color: white;
  transition: 0.3s ease-in-out;
}

#search-button:hover {
  box-shadow: 1px 1px 7px black;
  background-color: #1b3644;
}

#search-button a{
  text-decoration: none;
  color: white;
  transition: 0.3s ease-in-out;
}

#search-button a:hover{
  text-shadow: 0px 0px 10px white;
}

.dropdown-container{
  box-sizing: border-box;
}

.select {
  cursor: pointer;
  display: flex;
  padding: 1vh;
  background-color: #00aaff;
  width: 100px;
}

.select-clicked {
  border: 2px solid white;
}

.menu {
  list-style: none;
  padding: 0vh;
  background-color: #1b3644;
  width: fit-content;
  color: white;
  display: none;
}

.menu li{
  padding: 1vh;
  cursor: pointer;
  width: 100px;
}

.active {
  background: palegoldenrod;
}

/* Search page + DropDown*/
.search-form {
  background-color: #cccccc7a;
  padding: 2vh;
  flex-direction: column;
  border-radius: 1vh;
  max-width: 1000px;
  min-width: 400px;
  margin: 0 auto;
  margin-top: 2vh;
}

.search-form h1{
  font-size: 3.5vh;
  font-weight: 600;
  padding: 0;
  margin-top: 0;
}

.filters {
  display: flex;
  flex-direction: row;
  gap: 10vh;
  flex-wrap: wrap;
  height: 200px;
  padding: 1vh;
  justify-content: center;
}

.search-form .form-group{
  display: flex;
  flex-direction: column;
}

.search-form .form-group select{
  width: 300px;
  max-width: 250px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2vh;
  font-size: 2.5vh;
  color: #5d5d5d;
  margin: 0;
}

.search-form .form-group select:hover{
  background-color: #ffffff81;
}

.search-form .form-group select:focus{
  border: 2px solid rgba(255, 115, 72, 0.811);
}

.search-input-group{
  display: flex;
  flex-direction: column;
}

.search-input-group label{
  font-size: 2vh;
  margin: 1vh 0;
  font-weight: 550;
}

.search-input-group input{
  width: 300px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2vh;
  font-size: 2.5vh;
  color: #5d5d5d;
  margin: 0;
  transition: 0.2s ease-in-out;
}

.search-input-group input:hover{
  background-color: rgb(228, 228, 228);
}

.search-form .form-group label {
  font-size: 2vh;
  margin: 1vh 0;
  font-weight: 550;
}

.range-value-group{
  width: fit-content;
}

.range-value-group .form-group select{
  width: 110px;
  max-width: 400px;
}

.range-value-group label {
  font-size: 2vh;
  font-weight: 550;
}

.range-values {
  display: flex;
  align-items: center;
  gap: 2vh;
}

form button{
  width: 250px;
  padding: 2vh;
  border-radius: 1vh;
  margin-top: 3.5svh;
  background-color: rgba(255, 115, 72, 0.811);
  font-size: 2.5svh;
  border: none;
  font-weight: 550;
  transition: 0.3s ease-in-out;
}

form button:hover {
  background-color: rgba(255, 60, 0, 0.811);
}

/* Favourite section */

.favourites-section {
  background-color: #ff876f76;
  height: fit-content;
  min-height: 30px;
  max-height: 300px;
  overflow:scroll;
  width: 1100px;
  margin: 0 auto;
  margin-top: 5vh;
  border-radius: 10px;
  padding: 2vh;
}

#favourite-section-header {
  color: #210a0588;
  font-weight: 600;
  font-size: 2.5vh;
  text-align: center;
  margin: 2vh 0;
}

.fav-props-container {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.fav-prop-profile {
  display: flex;
  align-items: center;
  gap: 2vh;
  width: 500px;
  background-color: white;
  padding: 1vh 2vh;
  border-radius: 5px;
}

.fav-prop-profile img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

#remove-button {
  margin-left: auto;
  background-color: rgba(255, 0, 0, 0.493);
  border-radius: 3px;
  color: white;
  transition: 0.3s ease-in-out;
}

#remove-button:hover {
  background-color: rgba(255, 0, 0, 0.798);
}

#favourite-prop-location {
  font-weight: 600;
}

#favourite-prop-type {
  color: #ff3300;
  font-size: 2.2vh;
}

/*
<div
  className="favourites-bar"
  onDragOver={(e) => e.preventDefault()}
  onDrop={handleDrop}
>
  {favourites.length === 0 
      ? (<p>Add your favourite properties here</p>) 
      : (
          <div className="fav-props-container">
              {favourites.map((favProperty) => (
                  <div key={favProperty.id} className="fav-prop-profile">
                      <img src={`images/${favProperty.picture}`} alt="Property picture" />
                      <div>
                          <p>{favProperty.location}</p>
                          <p><string>{favProperty.type}</string></p>
                      </div>
                  </div>
              ))}
          </div>
  )}
</div>

*/

#results-text {
  font-weight: 200;
  color: #949494;
  font-size: 2.5vh;
  text-align: center;
}

.results-section {
  padding: 2vh;
  min-height: 100vh;
  margin-top: 10vh;
  padding: 1vh 2vh;
  background-color: white;
  margin: 5vh 15vh;
  border-radius: 5px;
}

/* Property card */

.product-card {
  border-radius: 2vh;
  margin: 3vh;
  display: flex;
  gap: 2vh;
  height: fit-content;
  width: 1000px;
  overflow: hidden;
  padding: 1vh;
  background-color: rgba(234, 234, 234, 0.846);
  transition: 0.3s ease-in-out;
}

.product-card:hover {
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.239);
}

.property-details {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.profile-picture {
  height: 350px;
  width: 400px;
  border-radius: 2vh;
}

.property-header {
  display: inline-block;
  display: flex;
  justify-content: space-between;
}

#location {
  font-weight: 800;
  font-size: 2.5vh;
}

#date {
  color: rgba(49, 49, 49, 0.793);
  font-weight: 600;
  font-size: 2.3vh;
  margin-bottom: 2vh;
}

.icon-group{
  border-radius: 2vh;
  background-color: rgba(255, 128, 37, 0.76);
  width: 90px;
  height: 20px;
  display: flex;
  gap: 0.5vh;
  align-items: center;
  justify-content: center;
  padding: 1vh;
}

.icon-group p {
  font-weight: 600;
  color: white;
  font-size: 12px;
}

.icon-group a {
  font-weight: 600;
  color: white;
  font-size: 12px;
  text-decoration: none;
}

.icon-group a:hover {
  font-weight: 600;
  color: white;
  font-size: 12px;
  text-decoration: underline;
}

.icon-group img{
  height: 20px;
  width: 20px;
}

.icon-groups {
  display: flex;
  gap: 4vh;
  margin-top: 2vh;
}

.product-card-footer{
  display: flex;
  justify-content: space-between;
}

.contact-details {
  display: flex;
  gap: 2vh;
  margin-top: 2vh;
}

.contact-group {
  background-color: black;
  padding: 1vh;
  width: 180px;
  border-radius: 3vh;
  display: flex;
  justify-content: center;
  transition: 0.5s ease-in-out;
}

.contact-group:hover {
  background-color: rgb(86, 86, 86);
}

.contact-group img{
  height: 20px;
  width: 20px;
}

#mail{
  background-color: rgba(128, 128, 128, 0.444);
}

#mail:hover{
  background-color: rgba(77, 77, 77, 0.444);
}

#favourite-button {
  border-radius: 2vh;
  border: none;
  padding: 1vh;
  background-color: rgb(68, 255, 140);
  font-weight: 600;
  font-size: 2vh;
  transition: 0.5s ease-in-out;
}

#favourite-button:hover {
  background-color: rgb(0, 224, 86);
}

/* Product Details page */

#back-button {
  border: none;
  padding: 1vh 2vh;
  border-radius: 2px;
  margin-bottom: 2vh;
  background-color: #ff914d;
  color: white;
  transition: 0.3s ease-in-out;
}

#back-button:hover {
  background-color: #fe6200;
  color: white;
  text-decoration: underline;
}

.product-details-page {
  padding: 2vh;
  background-color: white;
  margin: 5vh 15vh;
  border-radius: 5px;
}

#property-details-heading {
  font-size: 3vh;
  font-weight: 800;
  color: #ff4e0e;
}

#property-location {
  font-size: 4vh;
  font-weight: 700;
}

#gallery-heading {
  font-size: 3vh;
  font-style: italic;
  text-align: center;
  border-top: 1px solid black;
  padding: 2vh;
}

.property-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}

.property-gallery button{
  height: 40px;
  width: 40px;
  background-color: #ff956e;
  padding: 2vh;
  border: none;
  border-radius: 60%;
  color: white;
  transition: 0.3s ease-in-out;
}

.property-gallery button:hover{
  background-color: #aa6045;
}

#image-view {
  height: 520px;
  width: 1000px;
  border-radius: 20px;
}

.property-sub-details{
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-top: 2vh;
  gap: 2vh;
  padding: 0 15vh;
  font-size: 3.2vh;
  font-weight: 600;
}

.property-sub-details p > span {
  color: #aa6045;
}

.tab-section {
  overflow: hidden;
  margin:0 auto;
  margin-top: 5vh;
  width: 1000px;
  background-color: #210a05;
  padding: 2vh;
  border-radius: 2vh;
  color: white;
}

.tab-headings {
  list-style: none;
  display: flex;
  gap: 10vh;
  font-weight: 600;
  font-size: 4vh;
  justify-content: center;
  border-bottom: 1px solid rgb(218, 119, 48);
  cursor: pointer;
}

.tab-headings li {
  border-bottom: 3px solid transparent;
}

.tab-headings li.highlight-tab-heading {
  color: rgb(255, 106, 0) ;
  border-bottom: 3px solid rgb(255, 106, 0);
  transition: 0.1s ease-in-out;
}

.show-content{
  height: fit-content;
  width: 800px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2vh;
  margin: 0 auto;
  text-align: left;
  margin-top: 1vh;
}

.content{
  display: none;
}

#floor-plan {
  height: 800px;
}

#google-maps{
  gap: 2vh;
}

#google-maps a{
  text-decoration: none;
  color: orange;
}

#google-maps a:hover{
  text-decoration: underline;
  color: rgb(255, 102, 0);
}
/*
<div className="tab-section">
  <ul className="tab-headings">
      <li>Description</li>
      <li>Floor plan</li>
      <li>Google maps</li>
  </ul>
  <div className="show-content" id="description">
      <p>{prop.description}</p>
  </div>

  <div className="show-content" id="floor-plan">
      <img src={`/images/${prop.id}/floor-plan.jpg`}></img>
  </div>


  <div className="show-content" id="google-maps"> 
      <h3>Google Maps Location</h3>
      <a href={`${prop["google-link"]}`}>View on maps</a>
  </div>
</div>

*/