*{
  font-family: Arial, Helvetica, sans-serif;
}

.nav{
  display: flex;
  align-items: center;
  padding: 2vh;
}

.nav a{
  text-decoration: none;
  color: black;
}

.nav a:hover{
  color: rgb(0, 89, 255);
}

#logo{
  margin-right: auto;
}

.nav-links {
  display: flex;
  margin-right: auto;
  gap: 10vh;
}

.main-panel {
  color: rgb(255, 96, 48);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 2vh;
  padding: 2vh;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  min-width: 1000px;
  height: 400px;

  background-image: url(assets/homes3.jpg);
  background-size: 100% 125%;
  background-repeat: none;
}

.main-panel h1{
  font-size: 8vh;
  margin-top: 4vh;
}

.main-panel h1>span{
  color: rgb(132, 0, 0);
}

.main-panel h3{
  font-size: 5vh;
  margin: 0;
}

.search-panel {
  display:inline-block;
  color: white;
  background-color: rgba(255, 115, 72, 0.811);
  border-radius: 1vh;
  padding: 2vh;
  margin-top: 10vh;
  height: fit-content;
  width: 700px;
}

.search-option-container{
  display: flex;
  gap: 7vh;
  justify-content: flex-start;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.search-panel hr{
  border-color: rgb(255, 252, 252);
  margin-top: 0;
}

.search-option {
  font-size: 3vh;
  font-weight: 700;
  list-style: none;
  padding: 3vh 0;
}

.search-option-selected {
  border-bottom: solid 2px white
}

.search-panel-form{
  display: flex;
  gap: 2vh;
  justify-content: center;
  align-items: flex-end;
}

.search-group{
  display: flex;
  flex-direction: column;
}

.search-group label{
  font-size: 2.5vh;
  font-weight: 600;
}

#search {
  padding: 2vh;
  outline: none;
  border: none;
  border-radius: 1vh;
  min-width: 530px;
  min-height: 50px;
  margin-top: 1vh;
}

#search-button {
  border: none;
  padding: 2vh;
  height: 2vh;
  border-radius: 1vh;
  min-width: 150px;
  min-height: 50px;
  font-weight: 600;
  background-color: #1b3644;
  color: white;
}

#search-button a{
  text-decoration: none;
  color: white;
}

#search-button a:hover{
  color: #00aaff;
}

.dropdown-container{
  box-sizing: border-box;
}

.select {
  cursor: pointer;
  display: flex;
  padding: 1vh;
  background-color: #00aaff;
  width: 100px;
}

.select-clicked {
  border: 2px solid white;
}

.menu {
  list-style: none;
  padding: 0vh;
  background-color: #1b3644;
  width: fit-content;
  color: white;
  display: none;
}

.menu li{
  padding: 1vh;
  cursor: pointer;
  width: 100px;
}

.active {
  background: palegoldenrod;
}

/*
<div className="dropdown-container">
    <div className="select">
        <span className="selected">Discord</span>
    </div>
    <ul className="menu">
        <li className="active">Discord</li>
        <li>Test1</li>
        <li>Test2</li>
        <li>Test3</li>
    </ul>
</div>

*/